<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
  <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
</head>
<body>
  <h1>Chat</h1>

  <div id="messages">
    {{#each messages}}
      <div class="message">
        <span class="sender">{{sender}}:</span>
        <span class="content">{{content}}</span>
      </div>
    {{/each}}
  </div>

  <form id="message-form">
    <input type="text" id="sender-input" placeholder="Your Name" required>
    <input type="text" id="content-input" placeholder="Message" required>
    <button type="submit">Send</button>
  </form>

  <script src="/public/js/script.js"></script>
</body>
</html>
